<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Web IDE 문제은행</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="/assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="inner">

				<!-- Logo -->
				<a href="/" class="logo">
					<span class="symbol"><img src="/images/logo.svg" alt="" /></span><span class="title">Dongguk
						ProblemBank</span>
				</a>

				<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>

			</div>
		</header>

		<!-- Menu -->
		<nav id="menu">
			<h2>Menu</h2>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">Dongguk IDE에 대하여</a></li>
				<li><a href="/problem">문제 은행</a></li>
				<li><a href="/generic">만든 사람</a></li>
				<li><a href="/elements">Elements</a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">
			<div class="inner">
				<h1 style="font-size: 350%;"> &nbsp; &nbsp; <%= data.title %>
				</h1>
				<!-- <span class="image main"><img src="" alt="" /></span> -->
				<hr size="5px" color="black">
				<div>
					<br>
					<h2 style="color: dimgray;"> &nbsp; 문제</h2>
					<hr width="70%">
					<h3> &nbsp; <%= data. problem %>
					</h3>
				</div>
				<br><br><br>

				<table style="margin:auto;">
					<!-- 1행 -->
					<tr style="margin:auto; background-color: white;">
						<td width="50%">
							<br>
							<h2 style="color: dimgray;"> &nbsp; 입력</h2>
							<br>
							<h3> &nbsp; <%= data. problem_input %>
							</h3>
						</td>
						<td>
							<br>
							<h2 style="color: dimgray;"> &nbsp; 입력 예시</h2>
							<br>
							<pre><code style="font-size: 25px;"><%= data.input_example %></code></pre>
							<!-- <h3> &nbsp; &nbsp; <%= data.input_example %></h3> -->
						</td>
					</tr>

					<!-- 2행 -->
					<tr>
						<td width="50%">
							<br>
							<h2 style="color: dimgray;"> &nbsp; 출력</h2>
							<br>
							<h3> &nbsp; <%= data. problem_output %>
							</h3>
							<br>

						</td>
						<td>
							<br>
							<h2 style="color: dimgray;"> &nbsp; 출력 예시</h2>
							<br>
							<pre><code style="font-size: 25px;"><%= data.output_example %></code></pre>
							<!-- <h3> &nbsp; &nbsp; <%= data.output_example %></h3> -->
						</td>
					</tr>
				</table>
			</div>

			<br>
			<div class="inner">
				<h2 style="color: dimgray;"> &nbsp; 코드 입력</h2>
				<form method="post" action="/result/<%= data._id %>" href="/result/<%= data._id %>">
					<pre><code>
				<textarea name="code" rows="100%" cols="100%">
				</textarea>
			</code></pre>
					<input type="submit" name="code" value="코드 제출">
				</form>
			</div>

			<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

</body>

</html>